/home/maksud/Project/impact/venv/bin/python3.13 /home/maksud/Project/sazan/amo/test.py 
Воронка: Sazan AI (ID: 7658170)
 - Статус: Неразобранное (ID: 63301822)
 - Статус: AI- Pre-sale (ID: 63301830)
 - Статус: есть интерес (ID: 65697182)
 - Статус: ВРЕМЕННО (ID: 68618890)
 - Статус: AI- повторное касание (ID: 65205290)
 - Статус: контакты без автоматизаций (ID: 65252426)
 - Статус: BOT - ПРИВЕТСТВИЕ в брони (ID: 65139622)
 - Статус: AI -Sale bot (ID: 63327686)
 - Статус: AI- проверка оплаты (ID: 63301834)
 - Статус: мария зафиксировала оплату (ID: 63327690)
 - Статус: Успешно реализовано (ID: 142)
 - Статус: Закрыто и не реализовано (ID: 143)
Воронка: Aperol (ID: 6637942)
 - Статус: Неразобранное (ID: 56333062)
 - Статус: Заявка (ID: 56333066)
 - Статус: Проинформирован (ID: 56333070)
 - Статус: Бронь (ID: 56333074)
 - Статус: Успешно реализовано (ID: 142)
 - Статус: Закрыто и не реализовано (ID: 143)
Воронка: Karaoke AI (ID: 8109106)
 - Статус: Неразобранное (ID: 66371234)
 - Статус: Переговоры (ID: 66371242)
 - Статус: &quot;Бронь&quot; (ID: 66371246)
 - Статус: БОт (ID: 72101950)
 - Статус: Успешно реализовано (ID: 142)
 - Статус: Закрыто и не реализовано (ID: 143)
Воронка: Холодный обзвон (ID: 6637946)
 - Статус: Неразобранное (ID: 56333082)
 - Статус: Отказники (ID: 56333086)
 - Статус: Потенциальный Лид (ID: 56333090)
 - Статус: Бронь (ID: 56333094)
 - Статус: Успешно реализовано (ID: 142)
 - Статус: Закрыто и не реализовано (ID: 143)
Воронка: Hotel AI (ID: 8109366)
 - Статус: Неразобранное (ID: 66373098)
 - Статус: Переговоры - ai (ID: 66373106)
 - Статус: аваа (ID: 72102778)
 - Статус: &quot;БРОнь&quot; (ID: 66373110)
 - Статус: Связь с менеджером (ID: 66597582)
 - Статус: Успешно реализовано (ID: 142)
 - Статус: Закрыто и не реализовано (ID: 143)
Воронка: Sazan (ID: 6637378)
 - Статус: Неразобранное (ID: 56329194)
 - Статус: Заявка (ID: 56329198)
 - Статус: Проинформирован (ID: 56329202)
 - Статус: Бронь (ID: 56329206)
 - Статус: Успешно реализовано (ID: 142)
 - Статус: Закрыто и не реализовано (ID: 143)
Воронка: Test 1 (ID: 8510914)
 - Статус: Неразобранное (ID: 69162866)
 - Статус: Цепочка сендпульс (ID: 69162870)
 - Статус: Консультации на ии (ID: 69547062)
 - Статус: Есть интерес (ID: 69162878)
 - Статус: некоммерческие запросы (ID: 69321882)
 - Статус: Комментарии (ID: 69321938)
 - Статус: Успешно реализовано (ID: 142)
 - Статус: Закрыто и не реализовано (ID: 143)
Воронка: проба (ID: 8568338)
 - Статус: Неразобранное (ID: 69561362)
 - Статус: Первичный контакт (ID: 69561366)
 - Статус: Переговоры (ID: 69561370)
 - Статус: Принимают решение (ID: 69561374)
 - Статус: Успешно реализовано (ID: 142)
 - Статус: Закрыто и не реализовано (ID: 143)
Воронка: Hotel Ai Test  (ID: 9058026)
 - Статус: Неразобранное (ID: 72932214)
 - Статус: Первичный контакт (ID: 72932218)
 - Статус: Переговоры (ID: 72932222)
 - Статус: Принимают решение (ID: 72932226)
 - Статус: Успешно реализовано (ID: 142)
 - Статус: Закрыто и не реализовано (ID: 143)
Воронка: Sazan AI Test  (ID: 9058034)
 - Статус: Неразобранное (ID: 72932250)
 - Статус: Первичный контакт (ID: 72932254)
 - Статус: Переговоры (ID: 72932258)
 - Статус: Принимают решение (ID: 72932262)
 - Статус: Успешно реализовано (ID: 142)
 - Статус: Закрыто и не реализовано (ID: 143)